.App {
  text-align: center;
}

.App-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 1100px;
}

.table-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.small-font {
  font-size: 18px;
}

.centered {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex-one {
  display: flex;
  flex: 1;
}

.flex {
  display: flex;
}

.points-total {
  margin-left: 5px;
}

.app-button {
  width: 150px;
  background-color: transparent;
  height: 80px;
  color: white;
  font-size: 20px;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
}